/* -------------------universal------------------- */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Azeret Mono ", monospace;
}

/* -------------------navigation bar------------------- */
.navbar{
    display: flex;
    padding: 30px 100px;
}

.download{
    margin-left: auto;
}

.download-button{
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border-radius: 7px;
}

.download-button a{
    color: white;
    display: inline-block;
    padding: 0;
}

.download-button:hover{
    background-color: #555;
    color: white;
}

/* -------------------banner section------------------- */
.banner-container{
    max-width: 1440px;
    height: 652px;
    background-color: white;
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-items{
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.banner-logo{
    padding-top: 15px;
}

.banner-text-container{
    position: static;
    width: 998px;
    height: 136px;
    text-align: center;
    padding-top: 20px;
}

.banner-header{
    font-size: larger;
    text-align: center;
    margin-bottom: 20px;
}

.contact-space{
    margin-top: 10px;
}

.contact-button{
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    margin-top: 20px;
}

.contact-button a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0;
}

.contact-button:hover{
    background-color: #555;
    color: white;
}

/* -------------------webdev section------------------- */
.webdev{
    display: flex;
    flex-direction: column;
    background-color: #FAFAFB;
    width: 1150px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 70px;
    border-radius: 15px;
}

.webdev-header{
    text-align: center;
    padding: 70px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.webdev-text{
    padding: 0px 50px;
}

#webdev-text-align{
    padding-right: 100px;
}

#webdev-box{
    background-color: #ffffff;
    padding: 40px;
    margin: 40px 100px 0px 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

#webdev-img{
    width: 200px;
    height: 200px;
}

.coding{
    background: linear-gradient(to right, white, #FAFAFB);
}

.help{
    background: linear-gradient(to left, white, #FAFAFB);
}

.help-text{
    margin-left: 30px;
}

.help-learn{
    margin-left: 30px;
}

.change{
    background: linear-gradient(to right, white, #FAFAFB);
}

#webdev-learn-button{
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

#webdev-learn-button a{
    color: white;
    display: inline-block;
    padding: 0;
}

#webdev-learn-button:hover{
    background-color: #555;
    color: white;
}

#webdev-learn-space{
    padding-top: 12px;
    font-weight: bold;
}

#learn-more{
    color: #000000;
    font-weight: bold;
}

#learn-more:hover{
    color: #747474;
}

/* -------------------inspiration section------------------- */
.inspiration{
    margin: 20px 100px;
    padding-top: 70px;
    padding-bottom: 1px;
    text-align: center;
}

.inspiration-text{
    padding: 0px 90px;
}

.youtube-body{
    display: flex;
    justify-content: center;
    align-items: center;

}

.youtube{
    position: static;
    width: 1150px;
    height: 650px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

/* -------------------current target section------------------- */
.current-main{
    margin: 20px 100px;
    padding-top: 70px;
    padding-bottom: 1px;
    text-align: center;
}

.current-text{
    padding: 0px 90px;
}

.current-box{
    display: flex;
    flex-direction: row;
    margin: 80px;
    margin-top: 0px;
}

#current-img-gap{
    padding-bottom: 20px;
}

.html{
    background-color: #fff6f4;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.css{
    background-color: #f2f6fe;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.js{
    background-color: #fffdf2;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

/* -------------------next target section------------------- */
.next-main{
    margin: 20px 100px;
    padding-bottom: 1px;
    text-align: center;
}

.next-text{
    padding: 0px 60px;
}

.next-box{
    display: flex;
    flex-direction: column;
}

#next-to-learn{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    padding: 50px;
    width: 1150px;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

#next-img{
    width: 80%;
    height: 80%;
}

#next-img-gap{
    padding-right: 20px;
}

/* -------------------support section------------------- */
.support-banner{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 1150px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    border-radius: 15px;
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.support-banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.support-text, .submit-form{
    position: relative;
    z-index: 2;
}

.support-text{
    color: white;
    text-align: center;
    padding: 20px 150px 10px 150px;
}

.submit-form{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.submit-box{
    border-radius: 7px;
    text-align: justify;
    width: 500px;
    border: none;
    resize: none;
}

textarea::placeholder{
    padding: 14px;
    box-sizing: border-box;
}

.submit-button{
    padding: 10px 20px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    border: none;
    margin-left: 12px;
}

.submit-button a{
    color: white;
    display: inline-block;
    padding: 0;
}

.submit-button:hover{
    background-color: #555;
    color: white;
}

/* -------------------footer section------------------- */
.footer{
    background-color: #f7f8f8;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social-icons{
    display: flex;
    gap: 20px;
}

.social-link img{
    width: 30px;
    height: 30px;
}
