*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.banner-container{
    max-width: 1440px;
    height: 652px;
    background-color: white;
    background-image: url(../assets/Hero-bg.png);
}

.banner-text-container{
    position: static;
    width: 998px;
    height: 136px;

}

.navbar{
    display: flex;
}

.footer{
    display: flex;
}

.contact-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border-radius: 7px;
}

.contact-button a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0;
}

.contact-button:hover a {
    color: white;
    text-decoration: none;
}

.contact-button:hover {
    background-color: #555;
    color: white;
}


.download-button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: #000000;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border-radius: 7px;
}

.download-button a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0;
}

.download-button:hover a {
    color: white;
    text-decoration: none;
}

.download-button:hover {
    background-color: #555;
    color: white;
}
    

.support-banner{
    background-image: url(../assets/handshake.jpg);
}

.support-text{
    color: white;
}